<!-- Footer -->
<section id="footer" class="wrapper style2 special">
  <div  class="inner">
    <section>
      <header>
        <h3>Contatti</h3>
      </header>
      <p>Contattami per avere qualsiasi informazione. <br/>
          Se sei interessato, segui i miei canali social. Mi piace condividere conoscenze che possono essere utili per la crescita professionale di tutti gli sviluppatori.</p>
      <ul class="icons">
          {% if site.github_username %}
          <li>
              <a href="https://github.com/{{site.github_username}}" class="icon fa-github"><span class="label">GitHub</span></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
              <a href="https://twitter.com/{{site.twitter_username}}" class="icon fa-twitter"><span class="label">Twitter</span></a>
          </li>
          {% endif %}

          {% if site.linkedin_username%}
          <li>
              <a href="https://it.linkedin.com/in/{{site.linkedin_username}}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a>
          </li>
          {%endif%}

          {% if site.email%}
            <li>
                <a href="mailto:{{site.email}}" class="icon fa-envelope"><span class="label">Email</span></a>
            </li>
          {%endif%}
      </ul>
    </section>
    <!--
    <section>
      <form method="post" action="#">
        <div class="field half first"><input type="text" name="name" id="name" placeholder="Name" /></div>
        <div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
        <div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
        </ul>
      </form>
    </section>
    -->
  </div>
  <div class="copyright">
    <p>&copy; Clementi Mattia. All rights reserved.</p>
  </div>
</section>