<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keyword" content="{{site.keyword}}"/>

  <!-- Base URL to use for all relative URLs contained within the document -->
  <base href="{{site.baseurl}}">
  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:image" content="{{ '/images/me1.jpg' | prepend: site.url }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="Mattia Clementi">
  <meta property="og:locale" content="it_IT">


  <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

  <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Sito personale di Mattia Clementi",
    "alternateName": "La mia pagina personale in cui descrivo chi sono.",
    "about": {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Mattia Clementi",
      "jobTitle": "Web Developer"
    },
    "url": "http://mattiaclementi.it",
    "sameAs": [
      "http://www.linkedin.com/in/{{site.linkedin_username}}",
      "http://twitter.com/{{site.twitter_username}}"
    ]
  }
  </script>
</head>